<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Funicular Chat" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Tailwind CSS -->
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <% if Rails.env.development? %>
      <%= javascript_include_tag "funicular_debug", "data-turbo-track": "reload" %>
      <%= stylesheet_link_tag "funicular_debug", "data-turbo-track": "reload" %>
    <% end %>

    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.5.1/dist/chart.umd.min.js"></script>

    <!-- PicoRuby WASM -->
    <script src="/assets/init.iife.js"></script>
  </head>

  <body class="bg-gray-50">
    <%= yield %>
  </body>
</html>
